{% extends 'base.html' %}

{% block content %}

<!-- Hello {{name}} -->

<form action="add" method="post">
    {% csrf_token %}
    Please Choose what would you like to do:<br>
     <input type="radio" name="choice" id="decrypt" value="decrypt" checked> Decrypt <input type="radio" name="choice" id="ecrypt" value="ecrypt"> Ecrypt <br>
    String: <textarea name="text1" id="text1" cols="10" rows="3" placeholder="Please enter text here"></textarea> <br>
    Secret text: <input type="text" name="text2" id="text2"><br>
    <input type="submit" value="submit">
</form>

{% endblock %}